body{
    text-align: center;
    background-color: lightgray;
}

.container{
    background: white;
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

img{
    width: 200px;
}

.moves{
    margin: 15px 0;
}

select{
    margin: 5px;
}

#team{
    margin-top: 20px;
}

.team-member{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}
